/*
 * InfoPopupPanel
 */
.info-popup {
	width: 200px;
	padding: 3px;
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
}

.info-popup .table {
}

.info-popup .icon {

}

.info-popup .info {
	margin-left: 5px;
}

.info-popup .info .label {
	font-size: 12px;
	font-weight: bold;
	color: #000099;
}

.info-popup .info .value {
	margin-bottom: 5px;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}

/*
 * BaseHeaderButton
 */
.header-button {
	border: 1px solid #FFFFFF;
}

.header-button-clicked {
	border: 1px solid #CCCCCC;
	background-image: url(../images/gradient.jpg)
}

/*
 * UserHeaderButton
 */
.header-button .userName {
	font-size: 12px;
	color: #000070;
}

.header-button-clicked .userName {
	font-size: 12px;
	color: #000070;
}



