<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>gwt-framework-example</display-name>
	<servlet>
		<servlet-name>bootstrap</servlet-name>
		<servlet-class>org.googlecode.gwt.bootstrap.server.GWTBootstrapServiceServlet</servlet-class>
        <init-param>
            <param-name>applicationCode</param-name>
            <param-value>EX000</param-value>
        </init-param>
        <init-param>
            <param-name>applicationName</param-name>
            <param-value>Example</param-value>
        </init-param>
        <init-param>
            <param-name>applicationVersion</param-name>
            <param-value>${project.version}-r${buildNumber}</param-value>
        </init-param>
        <init-param>
            <param-name>homePageURLString</param-name>
            <param-value>http://www.google.com/</param-value>
        </init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>bootstrap</servlet-name>
		<url-pattern>/com.mycompany.project.FrameworkExample/bootstrap</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>restendpoint</servlet-name>
        <servlet-class>com.mycompany.project.server.RestEndPointServlet</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>restendpoint</servlet-name>
		<url-pattern>/services/restendpoint/method/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dataServiceBeanImpl2</servlet-name>
		<servlet-class>com.mycompany.project.server.DataServiceBeanImpl2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataServiceBeanImpl2</servlet-name>
		<url-pattern>/com.mycompany.project.FrameworkExample/newDatasourceBean</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dataServiceBeanImpl</servlet-name>
		<servlet-class>com.mycompany.project.server.DataServiceBeanImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataServiceBeanImpl</servlet-name>
		<url-pattern>/com.mycompany.project.FrameworkExample/datasourceBean</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>remoteLoggingService</servlet-name>
		<servlet-class>com.google.gwt.gen2.logging.server.RemoteLoggingService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggingService</servlet-name>
		<url-pattern>/com.mycompany.project.FrameworkExample/logging</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dataServiceSerialImpl</servlet-name>
		<servlet-class>com.mycompany.project.server.DataServiceSerialImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataServiceSerialImpl</servlet-name>
		<url-pattern>/com.mycompany.project.FrameworkExample/datasourceSerial</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>