/**
 * ScrollTable
 */
.gwt-ScrollTable {
  	border: 3px solid #C3DAF9;
}

.gwt-ScrollTable .gwt-ScrollTable-header-wrapper {
  	background: #C3DAF9;
  	border-bottom: 1px solid #6F99CF;
}
 
.gwt-ScrollTable .gwt-ScrollTable-footer-wrapper {
  	background: #C3DAF9;
  	border-top: 1px solid #6F99CF;
}

.gwt-ScrollTable .gwt-ScrollTable-data td {
	white-space: nowrap;
	overflow: hidden;
	padding: 3px;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	font-size: 11px;	
}

.gwt-ScrollTable .gwt-ScrollTable-header td,
.gwt-ScrollTable .gwt-ScrollTable-footer td {
	white-space: nowrap;
	overflow: hidden;
	padding: 3px;
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;	
	font-size: 11px;
}

.gwt-ScrollTable .gwt-ScrollTable-header td,
.gwt-ScrollTable .gwt-ScrollTable-footer td {
  	color: #fff;
  	background: transparent url(images/grid-hrow.gif) repeat-x;
  	color: #10428C;
  	font-weight: bold;
  	padding-bottom: 5px;
}

.gwt-ScrollTable .gwt-ScrollTable-data tr {
  	background: #EEE;
}

.gwt-ScrollTable .gwt-ScrollTable-data tr.dispari {
  	background: #FFF;
}
	
.gwt-ScrollTable .gwt-ScrollTable-data tr.selected,
.gwt-ScrollTable .gwt-ScrollTable-data tr.selected td {
  	background: #D9E8FB;
}

.gwt-ScrollTable .gwt-ScrollTable-data tr.hovering {
  	background: #DDD;
}

.gwt-ScrollTable .gwt-ScrollTable-data td.hovering {
  	border: 1px solid #10428C;
  	cursor: hand;
  	cursor: pointer;
}

.gwt-ScrollTable .pagingOptions {
 	background: #D4E0F2;
  	border-top: 1px solid #A9BFD3;
  	padding: 1px 0px;
  	font-size: 11px;
}

.gwt-ScrollTable .pagingOptions .gwt-HTML {
	font-size: 12px;
}

.gwt-ScrollTable .pagingOptions .errorLabel {
	color: red;
}

.gwt-CellEditor {
	border: 3px solid #7AA5D6;
	padding: 4px;
	background: white;
}
.gwt-CellEditor td {
  	padding: 4px;
}

/**
 * TabPanel
 */
.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarFirst {
	border-right: 1px solid blue;
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
	padding: 7px;
	background: #EEEEEE;
	border-right: 1px solid blue;
	border-top: 1px solid blue;
}
.gwt-TabBar .gwt-TabBarItem-selected {
	background: #FFFF00;
}
.gwt-TabPanel {
}
.gwt-TabPanelBottom {
  padding: 5px;
  border: 2px solid blue;
}
