/**
 * ScrollTable
 */
.gwt-ScrollTable {
    border: 3px solid #C3DAF9;
}

/*.gwt-ScrollTable .headerWrapper {
  background: #C3DAF9 url(images/bg_header_gradient.gif) repeat-x bottom left;
}
.gwt-ScrollTable .footerWrapper {
  background: #C3DAF9 url(images/bg_header_gradient.gif) repeat-x bottom left;
}

/*.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px;
}*/

.gwt-ScrollTable .headerTable td,
    .gwt-ScrollTable .footerTable td {
    text-align: center;
    border-right: 1px solid #CCC;
    border-left: 2px solid #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #6F99CF;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px;
    color: #10428C;
    font-weight: bold;
    background: #C3DAF9;
    font-size: 11px;
}

.gwt-ScrollTable .dataTable tr {
    background: #EEE;
}

.gwt-ScrollTable .dataTable td {
    text-align: center;
    border: 1px solid #DDD;
    border-bottom: 2px #FFF;
    border-left: 2px #FFF;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px;
    font-size: 11px;
    color: #333;
    font-weight: normal;
}

.gwt-ScrollTable .dataTable tr.highlighted {
    background: #D4E0F2;
}

.gwt-ScrollTable .dataTable td.highlighted {
    background: #D4E0F2;
}

.gwt-ScrollTable .dataTable tr.selected {
    background: #DDD;
}

.gwt-PagingOptions {
    background: #D4E0F2;
    border-top: 1px solid #A9BFD3;
    padding: 1px 0;
    font-size: 11px;
}

.gwt-PagingOptions .errorMessage {
    color: red;
}

.gwt-PagingOptions .gwt-Image {
    cursor: pointer;
}

.gwt-InlineCellEditor {
    border: none;
    padding: 2px 4px;
    overflow: auto;
    background: #DDD;
}

.gwt-InlineCellEditor .accept {
    cursor: pointer;
}

.gwt-InlineCellEditor .cancel {
    cursor: pointer;
}