/**
 * ScrollTable Show
 */
 
.gwt-Title {
	text-align: center;
  	color: #000080;
  	font-weight: bold;
  	font-size: 27px;
}

.reflection-footer {
	text-align: center;
  	color: #000080;
  	font-weight: bold;
  	font-size: 12px;
}

.gwt-SubTitleRed {
	text-align: center;
  	color: #800000;
  	font-weight: bold;
  	font-size: 14px;
}

.gwt-ScrollTable .dataTable tr.rosso {
  	background: #FFDAD1;
}

.gwt-ScrollTable .dataTable tr.selected {
  	background-color: #DDDDDD;
}


.gwt-ScrollTable .dataTable tr.highlighted {
  	background: #D4E0F2;
}
